In [5]:
#task3.2

import pandas as pd

df = pd.read_csv('AAPl_final_update.csv', parse_dates=True, index_col=0)

#drop "Unnamed: 0" unused column
df.drop('Unnamed: 0', axis = 1, inplace = True)

#drop "Unnamed: 0" ,"High" , "Low" , "Close" unused column
df.drop('High', axis = 1, inplace = True)
df.drop('Low', axis = 1, inplace = True)
df.drop('Close', axis = 1, inplace = True)


df[:20]

,Open,Adj_Close,Volume,day_of_week,same_day_delta,same_day_strategy,previous,next_close_delta,next_close_strategy
Date,,,,,,,,,
2012-12-31,72.932854,54.395519,164873100,Monday,4.238734,1,76.024284,4.066372,1
2013-01-02,79.117142,56.118870,140129500,Wednesday,-0.864905,0,76.024284,-0.872451,0
2013-01-03,78.268570,55.410530,88241300,Thursday,-1.054975,0,78.432854,-1.066224,0
2013-01-04,76.709999,53.867073,148583400,Friday,-1.856715,0,77.442856,-1.891841,0
2013-01-07,74.571426,53.550209,121039100,Monday,0.363988,0,75.285713,0.362668,0
2013-01-08,75.601425,53.694336,114676800,Tuesday,-0.736938,0,74.842857,-0.742410,0
2013-01-09,74.642860,52.855141,101901100,Wednesday,-1.033496,0,75.044289,-1.044289,0
2013-01-10,75.507141,53.510345,150286500,Thursday,-0.953554,0,73.871429,-0.962734,0
2013-01-11,74.428574,53.182232,87626700,Friday,-0.134356,0,74.787140,-0.134536,0
2013-01-14,71.811432,51.286152,183551900,Monday,-0.185010,0,74.328575,-0.185352,0
2013-01-15,71.185715,49.668106,219193100,Tuesday,-2.484445,0,71.678574,-2.547742,0
2013-01-16,70.662857,51.729763,172701200,Wednesday,2.314812,1,69.417145,2.262440,1
2013-01-17,72.901428,51.381218,113419600,Thursday,-1.495164,0,72.298569,-1.517859,0
2013-01-18,71.217140,51.107292,118230700,Friday,0.296886,0,71.811432,0.296008,0
2013-01-22,72.080002,51.594852,115386600,Tuesday,0.041619,0,71.428574,0.041602,0
2013-01-23,72.687141,52.539307,215377400,Wednesday,1.021995,1,72.110001,1.011656,1
2013-01-24,65.714287,46.047665,365213100,Thursday,-2.065224,0,73.430000,-2.108775,0
2013-01-25,64.527145,44.962143,302006600,Friday,-2.614628,0,64.357140,-2.684827,0
2013-01-28,62.547142,45.979191,196379400,Monday,2.740792,1,62.840000,2.667676,1
2013-01-29,65.500000,46.841866,142789500,Tuesday,-0.050168,0,64.261429,-0.050193,0

In [15]:
#task 3.2 .. same_day_strategy model
#as we have created "same_day_strategy"column >> we can predict the decession of buy or not at the begining of the day 

#df_1model=df["Open","Adj_Close","Volume","day_of_week","same_day_delta","same_day_strategy"]
df_1model1=df.filter(["Open","Adj_Close","same_day_delta","same_day_strategy"], axis=1)
df_1model1.head()

                 Open  Adj_Close     Volume  same_day_delta  same_day_strategy
Date
2012-12-31  72.932854  54.395519  164873100        4.238734                  1
2013-01-02  79.117142  56.118870  140129500       -0.864905                  0
2013-01-03  78.268570  55.410530   88241300       -1.054975                  0
2013-01-04  76.709999  53.867073  148583400       -1.856715                  0
2013-01-07  74.571426  53.550209  121039100        0.363988                  0

In [16]:
# class distribution
print(df_1model1.groupby('same_day_strategy').size())

same_day_strategy
0    984
1    456
dtype: int64

In [18]:
# Split-out validation dataset

from sklearn import model_selection

array = df_1model1.values
X = array[:,0:4]
Y = array[:,4]
validation_size = 0.20
seed = 7
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(X, Y, test_size=validation_size, random_state=seed)

In [19]:
# Spot Check Algorithms

from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC


models = []
models.append(('LR', LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC()))

# evaluate each model in turn
results = []
names = []
for name, model in models:
    kfold = model_selection.KFold(n_splits=10, random_state=seed)
    cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold)
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

LR: 0.681424 (0.037274)
LDA: 0.940127 (0.024630)
KNN: 0.620667 (0.036315)
CART: 0.999130 (0.002609)
NB: 0.677954 (0.036113)
SVM: 0.681424 (0.037274)

In [23]:
# Make predictions on validation dataset

from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

LDA = LDA()
LDA.fit(X_train, Y_train)
predictions =LDA.predict(X_validation)
print(accuracy_score(Y_validation, predictions))

0.930555555556

In [26]:
test_X=[[72.932854, , , ]]
print(LDA.predict(test_X))

SyntaxError: invalid syntax (<ipython-input-26-bbaa4d006a95>, line 1)

In [ ]:

split_date_1 = (pd.datetime(2018,11,1)).date()
split_date_1 = (pd.datetime(2018,4,1)).date()

#adjusing the formate of date 
split_date_1_adjusted =split_date_1.strftime('%m/%d/%Y')
split_date_2_adjusted =split_date_1.strftime('%m/%d/%Y')

df[1] 
# df_training = df.loc[df['Date'] <= split_date_1_adjusted]
# df_training
#df_test = df.loc[df['Date'] > split_date]